.damageEstPage {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  height: 100%;
  background-image: url("/images/savage_deviljho_background.png");
  background-repeat: no-repeat;
  background-position: center;
}
.dmgEstCard {
  height: 80%;
  margin: auto;
  opacity: 95%;
  width: 20%;
}

.hitzoneCard {
  height: 80%;
  margin: auto;
  opacity: 95%;
  width: 50%;
}

.weaponInfo {
  display: flex;
  flex-direction: column;
  margin: 5% 10% 10% 10%;
}

.rawAndDmg {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.submitButton {
  margin: auto;
}

.cardWrapper {
  padding: 0px 0px 10px 0px;
}

.inputDiv {
  width: 100%;
  margin: 0px 0px 20px 0px;
}

.categoryDropdown {
  float: left;
  width: 70%;
}

.bloatRawTextField {
  float: left;
  width: 70%;
}

.sharpnessDropdown {
  width: 100%;
}

.critBoostDropdown {
  width: 100%;
}

.mhIcon {
  float: right;
}