.faqDiv {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-image: url("/images/kulu-ya-ku_background.png");
    background-repeat: no-repeat;
    background-position: center;
}

.articleCard {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 80%;
    opacity: 95%;
    margin: 0% 10% 0% 10%;
}

.articleTitleDiv {
    height: 20%;
    width: 100%;
}

.articleTitleDiv > .title {
    float: left;
    margin-left: 5%;
    font-size: 20pt;
}

.articleBodyDiv {
    height: 79%;
    width: 100%;
    text-align: left;
}

.articleBodyDiv > .body {
    float: left;
    margin-left: 5%;
    font-size: 14pt;
}

.faqNavBar {
    position: static;
    padding: 10px 25px 10px 25px;
    display: flex;
    flex-direction: row-reverse;
    background-color: #5687ff;
}

.searchDiv {
    display: flex;
    flex-direction: row;
}

.searchIcon {
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.searchBar {
    border-radius: 7px;
}

.searchBar:focus {
    background-color: lightgrey;
}