.titleDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #5687ff;
    color: white;
    font-size: 20pt;
}

.breadcrumbDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}